{% extends "layout.html" %}
  
{% block content %}
  <h2>About</h2>
  <p>This is an About page for Chris Lauer. I grew up Indiana and went to Indiana University in Bloomington to study Political Science. During college I worked for The Southwestern company and sold educational resources door to door. After my first summer at Southwestern, I moved to California to live with my sister. I proceeded to continue working at Southwestern Recruiting in the off season and after completing another summer of selling, I decided to backpack all through South America. When I finished my trip I returned to San Francisco and began my career as a Recruiter at The Andiamo! Group. After 3 solid years at Andiamo, I have decided to pursue opportunities outisde of Recruiting. I am very excited about the opportunity at Heroku and look forward to having an opportunity to work alongside the Heroku team.</p>
{% endblock %}
